<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>MadLib!</h1>
    <p>It was a @Model.Adjective1, cold November day. I woke up to the @Model.Adjective2 smell of @Model.Bird roasting in the @Model.Room downstairs. I @Model.Verb1 down the stairs to see if I could help @Model.Verb2 the dinner. My mom said, "See if @Model.Relative needs a fresh @Model.Noun1." So I carried a tray of glasses fulll of @Model.Noun2 into the @Model.VerbIng room. When I got there, I couldn't believe my @Model.Body ! There were @Model.PluralNoun @Model.VerbIng2 on the @Model.Noun3!</p>
  </body>
</html>